body {
    background-color: antiquewhite;
    box-sizing: border-box;
    margin: 0;
}

#current-display {
    background-color: aquamarine;
    height: 2em;
}

#previous-display {
    background-color: azure;
}