*, *::before, *::after {
    box-sizing: border-box;
    /* font-family: Gotham Rounded, sans-serif; */
    font-weight: normal;
    font-size: larger;
  }
  
body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.container {
    display: grid;
    grid-template-columns:repeat(4,2em);
    width: 8em;
}

#display {
    background-color: whitesmoke;
    color: red;
}

.span-two {
    grid-column: span 2;
}

.clicked {
    background-color: bisque;
}